<app-navbar></app-navbar>
<div class="container">
  <div class="row products">
    <div
      class="col-sm-6 col-md-4 col-lg-3 product"
      *ngFor="let product of products"
    >
      <div class="card">
        <img [src]="product.thumbnail" class="card-img-top" />

        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            {{ product.price | currency : "USD" }}
          </h6>
          <p class="card-text">{{ product.description | shorten }}</p>
          <button (click)="showProduct(product.id)" class="btn btn-primary">
            Learn More
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
6
